:root {
	font-size: 62.5%;
}
* {
	box-sizing: border-box;
}

body {
	height: 100vh;
}

.container {
	display: flex;
}

.left-side-wrapper {
	flex: 1.7;
	position: relative;
}

.left-side-wrapper > img {
	width: auto;
	height: 100vh;
}

.logo-section-wrapper {
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 20%;
	width: 100%;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.384);
}

.logo {
	position: absolute;
	top: 20%;
	height: inherit;
}

.logo > img {
	height: 15rem;
	border: 1px solid red;
}

.right-side-wrapper {
	flex: 3.5;
}
